# This workflow builds the developer (debug) version of the Lisyo Android app.
name: Dev Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Developer Version
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build Dev APK
      run: gradle assembleDebug --no-daemon

    - name: Upload Dev APK
      uses: actions/upload-artifact@v4
      with:
        name: Lisyo-Dev-${{ github.run_number }}
        path: app/build/outputs/apk/debug/*.apk
