name: Release Build

on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'Version Name'
        required: true
        default: '1.0.0beta'

jobs:
  build:
    name: Build Release APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Decode Keystore
      env:
        KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
      run: |
        if [ -n "$KEYSTORE_FILE" ]; then
          echo "$KEYSTORE_FILE" | base64 --decode > /tmp/release.keystore
          echo "KEYSTORE_PATH=/tmp/release.keystore" >> $GITHUB_ENV
        else
          echo "Warning: KEYSTORE_FILE secret is missing. Build might be unsigned or fail."
        fi

    - name: Build Release APK
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: gradle assembleRelease -PcustomVersionName="${{ inputs.versionName }}" --no-daemon

    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: Material3-Release-${{ inputs.versionName }}
        path: app/build/outputs/apk/release/*.apk
